# Python
__pycache__/
*.py[cod]
*$py.class
.cache

# build & test
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.tox/

# IDEs
*.swp
*~
.idea/
*.bat

# DB
*.db
*.db-journal
